{% block sidebar %}

<div class="col-md-4 col-xs-12 text-white py-4">
    <div class="card bg-danger" style="width: 100%;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h4 class="display-5 card-title">About The Author</h4>
            <br>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="https://pritamdn.github.io/about-me.html" class="btn btn-light">Learn More</a>
        </div>
    </div>


    <div class="card bg-danger mt-5" style="width: 100%;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h4 class="display-5 card-title">Features To Be Added :</h4>
            <p class="card-text">
                <ul>
                    <li>Post Thumbnail Image</li>
                    <li>Comments Section</li>

                </ul>
            </p>
        </div>
    </div>


</div>

{% endblock sidebar %}